.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}

.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 248, 247);
  color: #313131;
  margin: 0;
  padding: 0;
}

.titulovidaleve {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: rgb(34, 80, 19);
    text-align: center;
  }

.imgvl{
 
  object-fit: cover; border-radius: 12px; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #E6F4EA;
  color: #2E7D32; 
   width: 100%;
  height: 180px;
  object-fit: cover;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 1rem;
  display: block;  
  margin: 0 auto;  
  width: 300%; 
  height: auto;
  
}


  .cardvl {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 5rem; 
    background-color: rgb(245, 255, 245); 
    box-shadow: 0 2px 8px rgba(0,0,0,0.05); 
    line-height: 1.6; 
    color: #333;  
    font-family: 'Segoe UI', Tahoma, sans-serif;
  }
  
  .cardvl p {
    margin-bottom: 1rem;   
    text-align: justify; 
    background-color: rgb(245, 255, 245); 
  }

  .titulovl{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color:  rgb(34, 80, 19);
  text-align: center;
}

.imgdicas{
  display: block; 
  margin: 0 auto; 
  max-width:350px; 
  width: 300%;
  height: auto; 
  object-fit: contain; 

}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
  
.rodape{
  text-align: center;
  font-size: 1em;
  margin-top: 3rem;
  padding: 2rem;
  background: #fff;
  color: #313131;
}
  
.icones_redes img {
  height: 2rem;
  width: 2rem;
  margin: 0 10px;
}
  
.qs_fc a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}