:root{
    --cor-de-fundo: rgb(223, 246, 252);

}

body{
    background-color: var(--cor-de-fundo)

}

.link__menu{
    text-align: center;
    

}

.container__titulo{
    text-align: center;
}

.academia{
    width: 10rem;
    height: 10rem;
    
}

.alimentação{
    width: 10rem;
    height: 10rem;

}





.rodape{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
   


}







