*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:#404040 ;
    display: flex;
    height: 100vh;
    background-color: rgb(231, 255, 231);
    justify-content: center;
    align-items: center;
    background-image: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 90px;
    display: flex;
    justify-content: center;
}

form { 
    background-color: rgb(255, 255, 255);
    padding: 50px 60px 60px 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    box-shadow: 0.5px 0.5px 18px rgba(0, 0, 0, 0.539);
}

form:focus{
    border-color: #000000;
    outline: none;
}

h1 {
    font-size: 24px;
    text-align: center;
}

button {
    width: 100%;
    padding: 1rem;
    color: #fff;
    background-color:  rgb(6, 80, 6);
    font-size: 1rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

button:hover{
    background-color:rgb(0, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
}

form input{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    font-size: 1rem;
    transition: border-color 0.3s;
}

form input:focus{
    border-color: #000000;
    outline: none;
}

.campo-input {
    display: flex;
    flex-direction: column;
}

 .titulo {
    display: flex;
    flex-direction: column;
}

.esqueceu__senha{
    text-align: center;
}

.esqueceu__senha a{
    color: rgb(38, 136, 5);
    text-decoration: none;
}

#gap_login {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}