* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans",sans-serif;
}
  
body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    color: rgb(38, 136, 5);
    line-height: 1.6;
}

/* header */
.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding:  0 0.0005rem;
  position: sticky;
  top: 0;
  height: 90px;
  z-index: 0;
}
  
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site__logo {
  width: 100px;
  height: 90px;
  justify-content: space-between;
  display: flex;
}
  
.link__menu a {
    color: rgb(38, 136, 5);
    text-decoration: none;
}

.link__menu a:hover {
    color: rgb(12, 46, 0);
}
  
.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

/* principal */
.main__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
  
.titulo__principal {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #2e7d32;
  text-align: center;
}
  
/* destaques */
.secao__destaques {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}
  
.card__destaque a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}
  
.card__destaque a:hover {
  transform: scale(1.03);
}
  
.imagem__destaque {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
  
.card__destaque p {
  padding: 1rem;
  font-weight: 500;
}
  
/* importantes */
.secao__conteudos h2 {
  text-align: center;
  color: #00796b;
  margin-bottom: 1rem;
}
  
.cards__conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
  
.card__conteudo {
  flex: 1 1 300px;
  background-color: #ddf8ec;
  padding: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgb(3, 2, 2);
}
  
.card__conteudo a{
  color: black;
  text-decoration: none;
}

.card__conteudo:hover {
  background-color: #d5fae0;
}
  
.card__conteudo h3 {
  margin-bottom: 0.5rem;
}
  
/* saude */
.secao__viver {
   margin: 3rem 0;
  text-align: center;
}
  
.texto__viver {
  max-width: 800px;
  margin: auto;
  padding: 1rem 0;
  font-size: 1.1rem;
}
  
.imagem__viver {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 1rem;
}
  
/* dicas */
.secao__dicas {
  background-color: #fff3e0;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 3rem;
}
  
.secao__dicas h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #e65100;
}
  
.secao__dicas ul {
  list-style: disc;
  padding-left: 1.5rem;
  color: #4e342e;
} 
  
/* footer */
.rodape{
  text-align: center;
  font-size: 1em;
}

.insta{
  height: 2rem;
  width: 2rem;
}

.facebook{
  height: 2rem;
  width: 2rem;
}

.icones__redes{
  align-items: center;
}

.qs__fc a{
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.aviso {
  font-size: 1em;
  color: #000000;
  margin-top: 1rem;
}
  
/* isso aqui deixa responsivo */
@media (max-width: 768px) {
.header__container {
  flex-direction: column;
  align-items: flex-start;
}
  
.link__menu{
  margin-top: 1rem;
}
  
.link__menu a {
  display: block;
  margin: 0.5rem 0;
}
  
.cards__conteudo {
  flex-direction: column;
  align-items: center;
}
}

@media (max-width: 425px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }
    
  .link__menu{
    margin-top: 1rem;
  }
    
  .link__menu a {
    display: block;
    margin: 0.5rem 0;
  }
    
  .cards__conteudo {
    flex-direction: column;
    align-items: center;
  }
  }

  @media (max-width: 320px) {
    .header__container {
      flex-direction: column;
      align-items: flex-start;
    }
      
    .link__menu{
      margin-top: 1rem;
    }
      
    .link__menu a {
      display: block;
      margin: 0.5rem 0;
    }
      
    .cards__conteudo {
      flex-direction: column;
      align-items: center;
    }
    }