<<<<<<< Updated upstream
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}


=======
>>>>>>> Stashed changes
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  color: black;
}

body {
background-color: rgb(255, 255, 255);
color: rgb(38, 136, 5);
line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  background-color: rgb(255, 255, 255);
}
<<<<<<< Updated upstream


.logo{
  height: 6rem;
   width:7rem;
   align-items: left;
   display: flex;
}

.link_menu{
margin: 0 1rem;
text-decoration: none;
font-weight: 500;
transition: color 0.3s;
}

.link__menu a{
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link__menu a:hover {
  color: rgb(12, 46, 0);
}



.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}


.titulo__principal{
  text-align:center;
}

.titulo__secundario{
  text-align:center;
  color: rgb(38, 136, 5);
}
=======
>>>>>>> Stashed changes


.logo{
  height: 6rem;
   width:7rem;
   align-items: left;
   display: flex;
}

<<<<<<< Updated upstream
  
.card__destaque{
  justify-content: center;
}
.card__destaque a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.3s;

}


.imagem__destaque {
  width: 20%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}
  
=======
.link_menu{
margin: 0 1rem;
text-decoration: none;
font-weight: 500;
transition: color 0.3s;
}

.link__menu a{
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link__menu a:hover {
  color: rgb(12, 46, 0);
}


.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

.titulo__principal{
  text-align:center;
}

.titulo__secundario{
  text-align:center;
  color: rgb(38, 136, 5);
}


.card__destaque{
  justify-content: center;
}
.card__destaque a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.3s;

}


.imagem__destaque {
  width: 20%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}
  
>>>>>>> Stashed changes
.card__destaque p {
  padding: 1rem;
  font-weight: 500;
}
<<<<<<< Updated upstream

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 248, 247);
  color: #313131;
  margin: 0;
  padding: 0;
}

.titulo__principal{
    text-align:center;
}

.titulo__secundario{
    text-align:center;
    color: rgb(38, 136, 5);
}



  

.rodape {
  text-align: center;
  font-size: 1em;
  margin-top: 3rem;
  padding: 2rem;
  background: #ffffff;
  color: #313131;
}

.icones_redes img {
  height: 2rem;
  width: 2rem;
  margin: 0 10px;
}

.qs_fc a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.qs_fc a:hover {
  text-decoration: underline;
}

=======
>>>>>>> Stashed changes
