.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
  z-index: 1000;
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}

.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 248, 247);
  color: #313131;
  margin: 0;
  padding: 0;
}

.bebidas{
  display: block;         
  margin: 1rem auto;          
  max-width: 300px;         
  width: 70%;               
  height: auto;             
  object-fit: contain;  
  border-radius: 12px;
}

.card{
  color: #0a4904;
}

.cardapio{
  background-color:  rgb(241, 250, 241); 
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 900px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
}

.cardapio h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #0a4904; 
  margin-bottom: 1rem;
  position: relative;
}

.cardapio p {
  text-align: center;
  font-size: 1.3rem;
  color: #2d2d2d;
  margin-bottom: 2rem;
}

.main__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
  
.titulo__principal {
  font-size: 2rem;
  color: #2e7d32;
  text-align: center;
}

.rodape{
  text-align: center;
  font-size: 1em;
}
  
.insta{
  height: 2rem;
  width: 2rem;
}
  
.facebook{
  height: 2rem;
  width: 2rem;
}

.icones_redes{
  align-items: center;
}
  
.aviso {
  font-size: 1em;
  color: #000000;
  margin-top: 1rem;
}

.qs_fc a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}