.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}

.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 248, 247);
  color: #313131;
  margin: 0;
  padding: 0;
}

.main__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
  
.titulo__principal {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #2e7d32;
  text-align: center;
}


.imagens{
  display: block;          /* para alinhar no centro */
  margin: 1rem auto;           /* centraliza horizontalmente */
  max-width: 300px;         /* tamanho máximo da imagem */
  width: 70%;               /* adapta ao tamanho da tela */
  height: auto;             /* mantém proporção */
  object-fit: contain;  
  border-radius: 12px;
}

.receita{
  background-color: rgb(245, 255, 245); /* Verde água */
  padding: 3rem;
  border-radius: 12px;
  max-width: 600px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif; 
}
 
.receita h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
  color: #0a4904;  
}
    
.receita p {
  text-align: center;
  font-size: 1.3rem;
  color: #000000;
}

.receita li{
  color: #000000;
  font-size: 1.3rem;
}

.passos{
  background-color:  rgb(245, 255, 245); /* Verde água */
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 750px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
}
      
.passos h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #0a4904 ; /* Verde escuro */
  margin-bottom: 1rem;
  position: relative;
}
      
.passos p {
  text-align: center;
  font-size: 1.3rem;
  color: #2d2d2d;
  margin-bottom: 2rem;
}

.rodape{
  text-align: center;
  font-size: 1em;
}
  
.insta{
  height: 2rem;
  width: 2rem;
}
  
.facebook{
  height: 2rem;
  width: 2rem;
}

.icones__redes{
    align-items: center;
}
   
.qs_fc a{
  color: rgb(38, 136, 5);
  text-decoration: none;
}
  
.aviso {
  font-size: 1em;
  color: #000000;
  margin-top: 1rem;
}