* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(38, 136, 5);;
  line-height: 1.6;
}

/* header */
.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding:  0 0.0005rem;
  position: sticky;
  top: 0;
  height: 90px;
  z-index: 1;
}
  
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.site__logo {
  width: 100px;
  height: 90px;
  justify-content: space-between;
  display: flex;
}

  body {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 136, 5);;
    line-height: 1.6;
  }
    
   /* header */
.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding:  0 0.0005rem;
  position: sticky;
  top: 0;
  height: 90px;
  z-index: 1;
  }
    
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .cadastro {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-right: 2rem;
    }

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;

}
.link_menu a:hover {
  color: rgb(12, 46, 0);
}

    
.site__logo {
  width: 100px;
  height: 90px;
  justify-content: space-between;
  display: flex;
  }


.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
    }

.main-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
  
.titulo__principal {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #0a4904;
  text-align: center;
}


.titulo__secundario{
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #000000;
  text-align: center;
}

 
.secao__destaques {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}
  
.card__destaque a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  border-radius: 1px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.bloco__treino {
  background-color: rgb(245, 255, 245); 
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 900px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card__destaque {
  background-color: transparent; /* nada de branco */
  box-shadow: none;              /* se tinha sombra no card, some */
  border: none;                  /* remove bordas brancas */
  text-align: center;
}

/* imagem menor e sem borda */
.imagem__destaque {
  width: 280px;
  height: 350px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  background: transparent; /* tira fundo da imagem se for container */
}

.titulo__secundario1{
  text-align: center;
  color: #0a4904 ;
  font-size: 2rem;
}




.rodape{
  text-align: center;
  font-size: 1em;
  margin-top: 3rem;
  padding: 2rem;
  background: #fff;
  color: #313131;
}
  
.icones__redes img {
  height: 2rem;
  width: 2rem;

}
  
.facebook{
  height: 2rem;
  width: 2rem;
}
  
.redes__sociais a {
  color: #333; 
  font-size: 24px;
  margin: 0 10px;
}
  
.qs_fc a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}
    
.treinos{
  background-color:  rgb(245, 255, 245); /* Verde água */
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 900px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
}
      

  .treinos h1{
    text-align: center;
  font-size: 1.3rem;
  color: #0a4904 ; /* Verde escuro */
  margin-bottom: 1rem;
  position: relative;
  }

.treinos li{
  text-align: center;
  font-size: 1.3rem;
  color: #0a4904 ; /* Verde escuro */
  margin-bottom: 1rem;
  position: relative;
}
        
.treinos{
  background-color:  rgb(245, 255, 245); /* Verde água */
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 900px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
}

.treinos h1{
  text-align: center;
  font-size: 1.8rem;
  color: #0a4904 ; /* Verde escuro */
  margin-bottom: 1rem;
  position: relative;
}

 .card__conteudo {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color:rgb(245, 255, 245) ;
  padding: 80px;
  border-radius: 12px;
  max-width: 900px;
  margin: 3rem auto;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.imagem__destaque {
  width: 270px;
  height: 300px;
  border-radius: 10px;
  
}

.rodape{
  text-align: center;
  font-size: 1em;
}


.icones_redes a{
  color: #333; 
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
  align-items: center;
}
  
.insta{
  height: 2rem;
  width: 2rem;
}
  
.facebook{
  height: 2rem;
  width: 2rem;
}

    
.qs__fc a{
  color: rgb(38, 136, 5);
  text-decoration: none;
}
  

.aviso {
  font-size: 1em;
  color: #000000;
  margin-top: 1rem;
    }
        
.treinos p {
  text-align: center;
  font-size: 1.3rem;
  color: #2d2d2d;
  margin-bottom: 2rem;
}
     
.treinos p {
  text-align: center;
  font-size: 1.3rem;
  color: #2d2d2d;
  margin-bottom: 2rem;}
