.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
  z-index: 1000; 
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}

.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 248, 247);
  color: #313131;
  margin: 0;
  padding: 0;
}


.main__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
  
.titulo__principal {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color:  rgb(38, 136, 5);
  text-align: center;
}
  

.secao__destaques {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}
  
.card__destaque a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}
  

.card__destaque a:hover {
  transform: scale(1.03);
}
  

.imagem__destaque {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
  
.card__destaque p {
  padding: 1rem;
  font-weight: 500;
}
  

.secao__conteudos h2 {
  text-align: center;
   color:  rgb(38, 136, 5);
  margin-bottom: 1rem;
}
  
.cards__conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
  
.card__conteudo {
  background-color: rgb(231, 255, 231);
  border: 1px solid #b9e4ca;
  border-radius: 10px;
  padding: 1.5rem;
  width: 250px;
  text-align: left;
  cursor: pointer;
  color: rgb(3, 2, 2);
  flex: 1 1 300px;
  

}
.card__conteudo a{
  color: black;
  text-decoration: none;
}
  

.card__conteudo:hover {
  background-color: #b2dfdb;
}
  
.card-conteudo h3 {
  margin-bottom: 0.5rem;
}
  
  
.secao__foco {
  margin: 3rem 0;
  text-align: center;
  background-color:rgb(231, 255, 231) ;
  border: 1px solid #b9e4ca;
  border-radius: 10px;
  padding: 2rem;
}
  
.texto__foco {
  max-width: 800px;
  margin: auto;
  padding: 1rem 0;
  font-size: 1.1rem;
}
  
.imagem__foco{
  
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 1rem;
  
}

.secao__curiosidades {
  background-color: rgb(231, 255, 231);
  padding: 2rem;
  border-radius: 10px;
  margin-top: 3rem; 
  border: 1px solid #b9e4ca;
  border-radius: 10px;
  

}
  
.secao__curiosidades h2 {
  margin-bottom: 1rem;
  text-align: center;
  color:rgb(6, 80, 6);
}
  
.secao__curiosidades ul {
  list-style: disc;
  padding-left: 1.5rem;
  color: #4e342e;
}
  

.rodape{
  text-align: center;
  font-size: 1em;
  
}

.icones__redes a{
  color: #333; 
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
  align-items: center;
}

.insta{
  height: 2rem;
  width: 2rem;
}

.facebook{
  height: 2rem;
  width: 2rem;
}
  
.qs__fc a{
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.frase{
  color:  rgb(38, 136, 5);
}
.aviso {
  font-size: 0.85rem;
  color: #000000;
  margin-top: 1rem;
}

.marca__registrada{
  color:  rgb(38, 136, 5);
}


@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__menu {
    margin-top: 1rem;
  }
  
  .nav__menu a {
    display: block;
    margin: 0.5rem 0;
  }
  
  .btn__consulta {
    margin-top: 1rem;
  }
  
  .cards__conteudo {
    flex-direction: column;
    align-items: center;
  }
  
  .imagem__mental {
    width: 90%;
  }
}