.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
  z-index: 1000; 
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}

.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  color: #313131;
  margin: 0;
  padding: 0;
}
.beneficios{
  color: #0a4904;
  font-size: 1.2rem;
  align-items: center;
}
  
.card{
  background-color:   rgb(245, 255, 245); /* Verde água */
  padding: 3rem;
  border-radius: 12px;
  max-width: 600px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
}

.card p {
  text-align: center;
  font-size: 1.3rem;
  color: #2d2d2d;
  margin-bottom: 2rem;
}
  
.import{
  background-color:   rgb(245, 255, 245); /* Verde água */
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 800px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
}
    
.import p{
  text-align: center;
  color: #000000;
  font-size: 1.3rem;
}
  
.recomend{
  background-color:   rgb(245, 255, 245); /* Verde água */
  padding: 2.5rem;
  border-radius: 12px;
  max-width: 800px;
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans", sans-serif;
}
      
.recomend h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #0a4904; /* Verde escuro */
  margin-bottom: 1rem;
  position: relative;
}
  
.recomend li{
  color: #000000;
  font-size: 1.3rem;
}
   
.main__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
  
.titulo__principal {
  font-size: 2rem;
  color: #2e7d32;
  text-align: center;
}
   
.rodape{
  text-align: center;
  font-size: 1em;
  margin-top: 3rem;
  padding: 2rem;
  background: #fff;
  color: #313131;
}
  

.icones__redes{
  align-items: center;
}

.insta{
  height: 2rem;
  width: 2rem;
}
  
.facebook{
  height: 2rem;
  width: 2rem;
}
    

.icones_redes img {
  height: 2rem;
  width: 2rem;
  margin: 0 10px;
}
  
.qs_fc a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.imagem{
  display: block;          /* para alinhar no centro */
  margin: 1rem auto;           /* centraliza horizontalmente */
  max-width: 1000px;         /* tamanho máximo da imagem */
  width: 70%;               /* adapta ao tamanho da tela */
  height: auto;             /* mantém proporção */
  object-fit: contain;  
  border-radius: 12px;
}