.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
  z-index: 1000;
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}

.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 248, 247);
  color: #313131;
  margin: 0;
  padding: 0;
}

.main-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
  }
  
  .titulo-principal {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #2e7d32;
    text-align: center;
  }

  .secao-destaques {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    gap: 1.5rem;
    margin-bottom: 3rem;
  }
  
  .card-destaque a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: block;
    border-radius: 1px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
  }

 
  
    
 
    .treinos{
      background-color:  rgb(245, 255, 245); /* Verde água */
      padding: 2.5rem;
      border-radius: 12px;
      max-width: 900px;
      margin: 3rem auto;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      font-family: "DM Sans", sans-serif;
      }
      
      .treinos li{
        text-align: center;
      font-size: 1.3rem;
      color: #0a4904 ; /* Verde escuro */
      margin-bottom: 1rem;
      position: relative;

      }
    .treinos{
        background-color:  rgb(245, 255, 245); /* Verde água */
        padding: 2.5rem;
        border-radius: 12px;
        max-width: 900px;
        margin: 3rem auto;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        font-family: "DM Sans", sans-serif;
        }
        
        .treinos h1{
          text-align: center;
        font-size: 1.8rem;
        color: #0a4904 ; /* Verde escuro */
        margin-bottom: 1rem;
        position: relative;
        }
        
       
      
        .rodape{
          text-align: center;
          font-size: 1em;
          
        }
        
        .icones__redes a{
          color: #333; 
          font-size: 24px;
          margin: 0 10px;
          transition: color 0.3s;
          align-items: center;
        }
        
        .insta{
          height: 2rem;
          width: 2rem;
        }
        
        .facebook{
          height: 2rem;
          width: 2rem;
        }
          
        .qs__fc a{
          color: rgb(38, 136, 5);
          text-decoration: none;
        }
        
        .frase{
          color:  rgb(38, 136, 5);
        }
        .aviso {
          font-size: 0.85rem;
          color: #000000;
          margin-top: 1rem;
        }
        
        .marca__registrada{
          color:  rgb(38, 136, 5);
        }
        