<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    color: black;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(38, 136, 5);
  line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid #000000;
    padding: 2rem 0;
    position: sticky;
    top: 0;
    height: 40px;
    background-color: rgb(255, 255, 255);
}


.logo{
    height: 6rem;
     width:7rem;
     align-items: left;
     display: flex;
 }
 
 .link_menu{
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
 }

.link__menu a{
    color: rgb(38, 136, 5);
    text-decoration: none;
}

.link__menu a:hover {
    color: rgb(12, 46, 0);
}


.cadastro {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-right: 2rem;
}

<<<<<<< Updated upstream

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
  z-index: 1000;
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}

.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 248, 247);
  color: #313131;
  margin: 0;
  padding: 0;
}

=======
>>>>>>> Stashed changes
.titulo__principal{
    text-align:center;
}

.titulo__secundario{
    text-align:center;
    color: rgb(38, 136, 5);
}



<<<<<<< Updated upstream

    

=======
    
>>>>>>> Stashed changes
.card__destaque{
    justify-content: center;
}
.card__destaque a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;
    transition: transform 0.3s;
<<<<<<< Updated upstream

  

    padding: 1rem;

=======
  
>>>>>>> Stashed changes
  }

  
  .imagem__destaque {
    width: 20%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }
    
  .card__destaque p {
    padding: 1rem;
    font-weight: 500;
  }
<<<<<<< Updated upstream

  .rodape{
  text-align: center;
  font-size: 1em;
  
}

.icones__redes a{
  color: #333; 
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
  align-items: center;
}

.insta{
  height: 2rem;
  width: 2rem;
}

.facebook{
  height: 2rem;
  width: 2rem;
}
  
.qs__fc a{
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.frase{
  color:  rgb(38, 136, 5);
}
.aviso {
  font-size: 0.85rem;
  color: #000000;
  margin-top: 1rem;
}

.marca__registrada{
  color:  rgb(38, 136, 5);
}
=======
>>>>>>> Stashed changes
