
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 136, 5);;
    line-height: 1.6;
  }
  
  /* header */
  .header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #d0e7dc;
    padding: 2rem 0;
    position: sticky;
    top: 0;
    height: 150px;
    
  }
  
  .header-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 0.0005rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .site-logo {
    width: 100px;
    height: 90px;
    justify-content: center;
    display: flex;
    

  }
  
  .cadastro {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-right: 2rem;
}


.main-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
  }
  
  .titulo-principal {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #2e7d32;
    text-align: center;
  }