.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    height: 6rem;
    width:7rem;
}

.cadastro {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-right: 2rem;
}

.rodape{
    text-align: center;
    font-size: 1em;
}

.icones__redes{
    align-items: center;
}

.insta{
    height: 2rem;
    width: 2rem;
}

.facebook{
    height: 2rem;
    width: 2rem;
}

.secao__primaria{
    margin: 0%;
    display: flex;
    background-color: rgb(229, 242, 213);
}

.quem__somos{
    height: 20rem;
    width: 33rem;
}

.txt__quemsomos{
    text-align: start;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    font-size: 1rem;
}

.qs_fc a{
    color: rgb(38, 136, 5);
    text-decoration: none;
}

.participe a{
    color: black;
}