.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: 40px;
  margin-bottom: 5rem;
  z-index: 1000;
}

.link_menu a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}

.link_menu a:hover {
  color: rgb(12, 46, 0);
}

.logo {
  height: 6rem;
  width: 7rem;
}

.cadastro {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin-right: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 248, 247);
  color: #313131;
  margin: 0;
  padding: 0;
}

.titulo__principal {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color:rgb(9, 78, 10);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, sans-serif; 
}

.titulos__texto{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(58, 136, 60);
  text-align: center;
}

.secao__paginas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}


.texto__sobre{
 max-width: 800px; 
  margin: 0 auto; 
  padding: 2rem; background-color: rgb(245, 255, 245); 
  box-shadow: 0 2px 8px rgba(0,0,0,0.05); 
  line-height: 1.6;
  color:#000000; 
  font-family: 'Segoe UI', Tahoma, sans-serif; 
}


.texto__sobre{
  background-color: rgb(245, 255, 245);
  margin-bottom: 1rem;    /* espaço entre parágrafos */
  text-align: justify;    /* alinhamento justificado */
  background-color: rgb(245, 255, 245); /* Verde água */

}


.card__paginas  {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
} 

.card__paginas p:hover {
  transform: scale(1.03);
}

.card__paginas p {
  padding: 1rem;
  font-weight: 500;
}


.imagem__pgn {
   width: 100%;
  height: 180px;
  object-fit: cover;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 1rem;
  }


.secao__saibamais {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}


  
.card__saibamais a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}
  

.card__saibamais a:hover {
  transform: scale(1.03);
}

.imagem__saibamais {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
  
.card__saibamais p {
  padding: 1rem;
  font-weight: 500;
  color:  #0a4904;
}



/* footer */

.rodape{
text-align: center;
font-size: 1em;
}

.icones__redes{
align-items: center;
}

.insta{
height: 2rem;
width: 2rem;
}

.facebook{
height: 2rem;
width: 2rem;
}

.qs_fc a{
color: rgb(38, 136, 5);
text-decoration: none;
}

.redes-sociais a {
  color: #333; 
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

.aviso-legal {
  font-size: 0.85rem;
  color: #000000;
  margin-top: 1rem;     
}