*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    color: black;
  }
  
/* Cabeçalho*/
body {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 136, 5);
    line-height: 1.6;
    }
    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid #000000;
    padding: 2rem 0;
    position: sticky;
    top: 0;
    height: 40px;
    background-color: rgb(255, 255, 255);
  }

  .cadastro {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-right: 2rem;
  } 
  
.logo{
    height: 6rem;
     width:7rem;
     align-items: left;
     display: flex;
}

.link_menu{
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.link_menu a {
    color: rgb(38, 136, 5);
    text-decoration: none;
}
        
.link_menu a:hover {
    color: rgb(12, 46, 0);
 }

 
 /* conteudos */

.titulovidaleve {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: rgb(34, 80, 19);
    text-align: center;
  }

.imgvl{
  width: 100%;
  height: 150px;
  object-fit: cover;
  height: 220px; 
  object-fit: cover; border-radius: 12px; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #E6F4EA;
  color: #2E7D32; }


  .cardvl {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 5rem; 
    background-color: rgb(245, 255, 245); 
    box-shadow: 0 2px 8px rgba(0,0,0,0.05); 
    line-height: 1.6; 
    color: #333;  
    font-family: 'Segoe UI', Tahoma, sans-serif;
  }
  
  .cardvl p {
    margin-bottom: 1rem;   
    text-align: justify; 
    background-color: rgb(245, 255, 245); 
  }

  .titulovl{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color:  rgb(34, 80, 19);
  text-align: center;
}
 
  /*seção dicas*/

.imgdicas{
  display: block; 
  margin: 0 auto; 
  max-width:350px; 
  width: 300%;
  height: auto; 
  object-fit: contain; 
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  }
  
/* footer */
.rodape{
  text-align: center;
  font-size: 1em;
  margin-top: 3rem;
  padding: 2rem;
  background: #fff;
  color: #313131;
}
  
.icones_redes img {
  height: 2rem;
  width: 2rem;
  margin: 0 10px;
}
  
.qs_fc a {
  color: rgb(38, 136, 5);
  text-decoration: none;
}